<div id="main">               
  <div id="crapSash"></div>
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="title left">
	<img id="profileOwnerPicture" class="profilePic" src="images/no-profile-picture.png">
	<span id="profileOwnerName" class="truncating-text"></span>
      </div>

      <div id="shareForm">
	<div id="shareButton" class="attach right"></div>

	<img id="shareAttachment" src="">
	<div x-mojo-element="TextField" id="shareTextField"></div>
      </div>

      <div id="currentStatusText" class="subtitle"></div>
    </div>
  </div>

  <div id="feedList" x-mojo-element="List"></div>

  <div id="blueWaspAlgisSash"></div>
</div>
