<div id="main">               
  <div id="crapSash"></div>
  
  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="title left">
	Login to Facebook
      </div>

      <div class="subtitle">
	Please click the Facebook button below in order to login to
	Facebook and grant BlueWasp the required permissions.
      </div>
    </div>
  </div>


  <div id="facebookLoginButton"></div>
  
  <div class="palm-info-text small">
    This step will install a BlueWasp application to your Facebook
    account. The Facebook part of BlueWasp manages your Pre's access
    rights to your profile, news feed and other items.<br><br>

    If this is the first time you are using BlueWasp or if you deleted
    the BlueWasp application from your Facebook account you will be
    required to log in and grant several access permissions to the
    application. If you used BlueWasp before, you will only be asked
    to log-in.<br><br>

    <strong>
      This step is essential and required in order for BlueWasp to
      function.
    </strong><br><br>

    Please view BlueWasp's
    <a href="http://vps1.algis.hr/bluewasp/pp/">privacy policy</a> to
    understand the way BlueWasp handles it's privileged access to your
    Facebook account.<br><br>

    This is BlueWasp version 0.CRAP (as indicated in the upper right
    corner sash). Expect bugs. No explicit or implied warranties. This
    application might eat your furniture, or worse...<br><br>
  </div>

</div>
